{% extends 'base.html' %}
{% block titulo %}Lista de alumnos{% endblock %}
{% block contenido %}
<h2 class="text-primary">Lista de libros</h2>
<a href="{% url 'crear_libro' %}" class="btn btn-primary mb-3">
<i class="bi bi-clipboard-plus"></i> Agregar nuevo libro
</a>
<a href="{% url 'generar_pdf' %}" class="btn btn-danger mb-3">
<i class="bi bi-file-earmark-pdf-fill"></i> Imprimir lista de libros PDF
</a>
<table class="table table-striped table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Título</th>
            <th>Autor</th>
            <th>Año</th>
            <th>Disponible</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for libro in libros %}
        <tr>
            <td>{{ libro.titulo }}</td>
            <td>{{ libro.autor }}</td>
            <td>{{ libro.publicacion }}</td>
            <td>
                {% if libro.disponible %}
                    <i class="bi bi-clipboard2-check-fill"></i> Si
                {% else %}
                    <i class="bi bi-clipboard-x-fill"></i> No
                {% endif %}
            </td>
            <td>
                <!-- Editar -->
                <a href="{% url 'editar_libro' libro.id %}"
                   class="btn btn-warning btn-sm">
                    <i class="bi bi-pencil"></i> Editar
                </a>

                <!-- Borrar -->
                <a href="{% url 'eliminar_libro' libro.id %}"
                   class="btn btn-danger btn-sm"
                   onclick="return confirm('¿Seguro que deseas eliminar este libro?');">
                    <i class="bi bi-trash"></i> Borrar
                </a>

                <a href="{% url 'prestar_libro' libro.id %}"
                   class="btn btn-warning btn-sm"
                    onclick="return confirm('¿Seguro que deseas prestar este libro?');">          
                    <i class="bi bi-archive"></i> Prestamo
                </a>
                <a href="{% url 'regresar_libro' libro.id %}"
                   class="btn btn-warning btn-sm"
                    onclick="return confirm('¿Seguro que deseas prestar este libro?');">          
                    <i class="bi bi-arrow-bar-left"></i> Regresar
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}